.dashboard-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.sidenav-wrapper {
  width: 17%;
  height: 100%;
  background: linear-gradient(348.72deg, #7b0ff5 -48.29%, #3734a9 131.09%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.component-render-wrapper {
  width: 83%;
  position: absolute;
  right: 0;
  background: #f6f6f8;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f0efef;
  /* margin-top: 90px;  */
}

.upper-nav {
  position: fixed;
  top: 0;
  height: 11%;
  width: 83%;
}

.component-container {
  margin-top: 90px;
}

.box {
  margin: 0;
}

.left-side {
  width: 20%;
  height: 100vh;
  background: linear-gradient(348.72deg, #7b0ff5 -48.29%, #3734a9 131.09%);
  display: grid;
  grid-template-rows: 15vh 3fr 15vh;
}

.upper-box {
  display: flex;
  margin-left: 10%;
  align-items: center;
}
.folow-logo {
  width: 30%;
  /* background-color: aqua; */
}
.logo-name {
  width: 70%;
  /* background-color: antiquewhite; */
}
.image-follow {
  width: 4vw;
  height: 8vh;
  border-radius: 50%;
}
.folow {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4952px;
  line-height: 160%;
  /* identical to box height, or 28px */

  color: rgba(255, 255, 255, 0.5);
}
.backend {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4952px;
  line-height: 160%;
  /* identical to box height, or 28px */

  color: #ffffff;
}
.hr {
  opacity: 0.12;
  border: 1.11979px solid #ffffff;
}
.sidenav-menu {
  display: flex;
  display: flex;
  position: relative;
  top: -7%;
  /* justify-content: center; */
  /* align-items: center; */
}
.sidenav-middle-box {
  margin-left: 19%;
  margin-top: 10%;
}
.menu-items {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 17.9166px;
  line-height: 160%;
  margin-top: 8%;
  /* identical to box height, or 29px */

  color: #ffffff;

  opacity: 0.5;
}
.menu {
  opacity: 1;
}
.logout {
  width: 183.62px;
  height: 48.9px;
  left: 36.37px;
  top: 989.16px;
  color: white;
  background: #6d26e0;
  border: none;
  box-shadow: 2.81297px 11.9551px 35.1621px rgba(80, 38, 198, 0.07);
  border-radius: 7.03243px;
}
.btn-logout {
  display: flex;
  justify-content: center;
}
.right-side {
  display: flex;
  flex-direction: column;
  background: #fff9f9;
}
.upper-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lower-right {
  height: 80%;
}
.welcome-title {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 15.5398px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #25262e;
}
.hello-title {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 12.9635px;
  line-height: 100%;
  /* identical to box height, or 13px */

  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #25262e;

  opacity: 0.5;
}
.search-input {
  width: 16vw;
  height: 4.5vh;
  /* left: 501.05px; */
  /* top: 28.87px; */
  background: #ffffff;
  border-radius: 3.16515px;
  border: none;
}

.search-button {
  background: #222b45;
  border-radius: 3.16515px 0px 0px 3.16515px;

  height: 4.5vh;
  color: white;
}
.btn-new-role {
  width: 10vw;
  background: #2cbf67;
  border-radius: 3px;
  border: none;
}
.lower-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-box {
  /* border: 1px solid black; */
  width: 50%;
  height: 91%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 4px 17px 50px rgba(80, 38, 198, 0.06);
  border-radius: 10px;
}
.image-person {
  border-radius: 50%;
  height: 17vh;
  width: 9vw;
}
.details-box {
  display: flex;
  width: 90%;
  height: 40%;
  justify-content: space-evenly;
}
.left-box .right-box {
  display: flex;
  flex-direction: column;
}
.title-name {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #222b45;
}
.email-name {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #7c8294;
}
.heading {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #222b45;
  opacity: 0.5;
}
.btn-save {
  background: #2cbf67;
  color: white;
  border-radius: 6px;
  width: 13vw;
  height: 5vh;
  border: none;
}
.btn-cancel {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #222b45;
  opacity: 0.5;
  border: none;
}
.btn-admins,
.btn-notification,
.btn-john {
  border: none;
  width: 8vw;
  background: white;
  border-radius: 3px;
  border: none;
}
.image-side-id {
  height: 3vh;
  width: 2vw;
  border-radius: 50%;
}
.image-side-card {
  height: 8vh;
  width: 4vw;
  border-radius: 50%;
}
.left-card {
  display: flex;
}
.card-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0%;
}
.card {
  display: flex;
  justify-content: center;
  margin-left: 4%;
  width: fit-content;
  margin-top: 3%;
  height: 11vh;
}
.inner-text {
  margin: auto;
}
.name {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height, or 144% */

  color: #222b45;
}
.mail {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 133% */

  color: #7c8294;
}
.right-card {
  /* display: flex;
    flex-direction: row; */
}
