.roles-heading{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    font-size: 16.8808px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #222B45;
    opacity: 0.99;
}
.checkbox{
    display: flex;
}
/* .form-check-input{
    width: 5%;
    height: 4vh;
} */
.dropdown-checkbox{
    display: flex;
    /* border: 1px solid black; */
}
.drop{
    display: flex;
    flex-wrap: wrap;
}
.dropdown-checkbox{
    margin-left: 2%;
    margin-top: 2%;
}
.checkbox{
    display: flex;
    align-items: center;
}

.add-role-buttons{
    display: grid;
    grid-auto-flow: column;
}

.btn-new-role{
    width: 10vw;
    height: 4.5vh;
    background: #2CBF67;
    border-radius: 3px;
    border: none;
}
.btn-admins {
    border: none ;
    width: 8vw;
    height: 4.5vh;
    background: white;
    border-radius: 3px;
    border: none;
}
.roles-inner{
    display:grid;
grid-gap: 16%;
position: absolute;
    top: 10%;
}
/* .new-roles-wrapper{
    display: flex;
} */